@CHARSET "UTF-8";
/*
 * 动态效果CSS部分
 * 
 * @author 风格独特
 * @version 1.0, 2012-08-31
 */

/* 搜素部分样式  --start-- */
#search {
    float: left;
    text-align: center;
    margin-left:50px;
    margin-top:10px;
    width:600px;
}
#search_btn li {
    float: left;
    font-size: 14px;
    height: 28px;
    line-height:25px;
    width: 49px;
    list-style-type: none;
    cursor: pointer;
    margin:3px 6px;
}
#search_contents {
    text-align: left;
}
.btn1 {
}
.btn2 {
    background-image: url(../img/tab.png);
    background-repeat: no-repeat;
    color:#FFF;
    font-weight:bold;
}
.input {
    width: 72px;
    text-align: center;
    vertical-align: bottom;
    padding: 0px;
    height: 23px;
}
.input_search {
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    padding: 5px 5px 4px 6px;
    border: 1px solid #B4B4B4;
    width: 400px;
    vertical-align: middle;
}
button {
    height: 34px;
    width: 100px;
    margin-left: 5px;
    vertical-align: middle;
}
/* 搜素部分样式  --end-- */

/* 搜素提示样式 --start-- */
#listbox {
    position: absolute;
    display: none;
    border: solid 1px #B4B4B4;
    z-index: 100;
    background-color: #FFF;
}
#listbox div {
    width: 200px;
    height: 26px;
    line-height: 26px;
    width: 400px;
    padding: 0  5px;
    cursor: default;
}
.listlinkcheck {
    background-color: #3366CC !important;
}
/* 搜素提示样式 --end-- */
