#helper{
    z-index: 10;
    position: absolute;
    top: 0;
}

.helper-hidden{
    display: none;
}

.helper-search2{
    position: relative;
    top: 276px;
    left: 360px;
    background: url("../img/helper/search-2.png") no-repeat scroll 0 0;
    height: 30px;
    width: 160px;
}

.helper-news{
    position: relative;
    top: 280px;
    left: 960px;
    background: url("../img/helper/news.png") no-repeat scroll 0 0;
    height: 70px;
    width: 70px;

}