#pageleft{
    float: left;
    width: 700px;
    overflow: hidden;
}
#pageright{
    width: 260px;
    float: right;
    overflow: hidden;
}

.block{
    background: url("../img/cat_bg.gif") repeat-x scroll 0 0 #FFFFFF;
    padding: 8px;
    border: #CAD9EA solid 1px;
    margin: 5px;
}

#common{}

.title{
    margin-left: 5px;
    font-size: 12px;
    line-height: 14px;
    height: 20px;
    font-weight: bold;
    color: #555555;
}
.commonurls{
    padding: 10px 1px;
    background-color: #FFFFFF;
}
.commonurls p{
    display: block;
    height: 20px;
    padding: 3px 3px;
    overflow: hidden;
}
.row1{width: 100%;background-color: #EDF5FC;}
.row2{width: 100%;}
.row3{width: 100%;}
.row4{width: 100%;}
.row1 span{width: 16%;}
.row2 span{width: 12%;}
.row3 span{width: 12%;}
.row4 span{width: 12%;}
.commonurls hr{
    margin: 5px 0 1px;
    border-color: #CAD9EA;
}

.urlspan{
    display: inline-block;
    height: 16px;
    text-align: left;
    float: left;
    line-height: 20px;
    white-space: nowrap;
}
.urlspan a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.urlspan img{
    border: none;
    width: 16px;
    display: inline-block;
}

#urllist{
    margin-top: 10px;    
}
.urllist-title p{
    float:left;
    display: inline-block;
    line-height: 15px;
    width: 100px;
}
.url-search{
    float:right;
}
.url-search input{
    font-size: 12px;
    line-height: 12px;
    padding: 0;
}
.urls{
    background-color: #FFFFFF;
}
.urlclass{
    display: block;
    padding: 1px;
    width: 100%;
    overflow: hidden;
}
.urlclass hr{
    margin: 2px 0 2px 0;
    display: none;
}
.urlclass-s{
    background-color: #edf5fc;
}
.url-class-title{
    width: 7%;
    float: left;
}
.url-class-title span{
    display: inline-block;
    margin: 10px;
    color: #0134c5;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.hot span{
    color: red;
}

.url-class-area{
    width: 90%;
    float: left;
}
.urlspan2{
    display: inline-block; 
    white-space: nowrap;
    float: left;
    margin: 6px 10px;
}
.urlspan2 a{
    font-size: 12px;
    line-height: 14px;
    color: #000;
    text-decoration: none;
}
.urlspan2-red a{
    color: red;
}
.urlspan2-gray a{
    color: grey;
}
.urlspan2-blue a{
    color: blue;
}
.urlspan2 a:hover{
    color: #FFFFFF;
    background-color: #6699FF;
}
.clear{
    clear: both;
}


#special{
    overflow: hidden;
    padding: 8px 3px 5px;
}

#specialcontent{
    padding: 7px 0 0;
    background-color: #FFFFFF;

}
#slider {
    width: 240px; /* important to be same as image width */
    height: 180px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
    border: 1px solid #CAD9EA;
}
#sliderContent {
    width: 240px; /* important to be same as image width or wider */
    position: absolute;
    top: 0;
    margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
    display: none;
}
.sliderImage img{ border: none;}
.sliderImage span {
    position: absolute;
    font: 12px/14px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 214px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
    clear: both;
}
.sliderImage span strong {
    font-size: 14px;
    line-height: 14px;
}
.top {
    top: 0;
    left: 0;
}
.bottom {
    bottom: 0px;
    left: 0;
}

#news{
    margin-top: 10px;
}
#newscontent{
    padding: 0 3px;
    overflow: hidden;
}
#newscontent dd{
    margin: 0 0 15px;
}
.news-titlebar{
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    padding: 5px 5px;
    border-bottom: 1px solid #76bdfc;
}
.news-class-title{
    padding-left: 10px;
    height: 14px;
    font-weight: bold;
    float:left;
}
.news-class-more{
    float: right;
    padding-right: 5px;
}
.news-class-more a{
    color: #2B2B2B;
    text-decoration: none;   
}
.newsitem{
    background: url("../img/list.png") no-repeat scroll 0 7px transparent;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    text-align: left;
    margin: 8px 3px;
}
.newsitem a{
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    padding: 0 0 0 15px;
}

